/* CONFIGURACIÓN GENERAL Y RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f4f7fc;
    color: #0f2547;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

/* BARRA DE NAVEGACIÓN GLOBAL */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background-color: transparent;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 22px;
    color: #0b2240;
}

.enlaces-navegacion a {
    color: #6b09e4;
    margin: 0 15px;
    font-weight: 500;
    transition: color 0.3s;
}

.enlaces-navegacion a.active, .enlaces-navegacion a:hover {
    color: #0f2547;
    font-weight: 600;
}

.btn-ofertas {
    background-color: #c98200;
    color: white;
    padding: 10px 24px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 14px;
    transition: background 0.3s;
}

.btn-ofertas:hover {
    background-color: #a86d00;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }
}